.block {
  @include flex(center, center, row, wrap);
  text-align: center;
  @include media {
    @include flex(center, center, row);
    text-align: left;
    width: 100%;
    max-width: 1172px;
    margin: 0 auto;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
    @include media {
      margin-bottom: 210px;
    }
  }
  &__image-wrapper {
    &:nth-child(odd) {
      margin-bottom: 20px;
    }
    @include media {
      margin-bottom: 0;
      width: 50%;
      padding-bottom: 39%;
      position: relative;
      &:nth-child(odd) {
        margin-right: 70px;
        &:after {
          content: "";
          position: absolute;
          background-color: $BLUE;
          display: block;
          width: 100%;
          width: 1000px;
          height: 100%;
          z-index: 0;
          right: 40%;
          top: -70px;
        }
      }
      &:nth-child(even) {
        &:after {
          content: "";
          position: absolute;
          background-color: $PURPLE;
          display: block;
          width: 100%;
          width: 1000px;
          height: 100%;
          z-index: 0;
          left: 40%;
          top: -70px;
        }
      }
    }
  }
  &__image {
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    background-color: white;
    @include media {
      position: absolute;
      margin-bottom: 0;
    }
  }
  &__content {
    @include media {
      &:nth-child(odd) {
        margin-right: 70px;
      }
    }
  }
  &__subtitle {
    @include text($H22, 400, $TITLE-COLOR);
    text-transform: uppercase;
    font-family: $SECONDARY-FONT;
  }
  &__title {
    @include text($H32, 700, $BASE-FONT-COLOR);
    @include media(420px) {
      @include text($H44, 700, $BASE-FONT-COLOR);
    }
    text-transform: uppercase;
    font-family: $BASE-FONT;
    margin-bottom: 10px;
    @include media {
      margin-bottom: 40px;
    }
  }
  &__description {
    @include text($H18, 400, $BASE-FONT-COLOR);
    font-family: $BASE-FONT;
    max-width: 456px;
    margin-bottom: 15px;
    @include media {
      margin-bottom: 35px;
    }
    line-height: 1.6;
  }
  &__link {
    @include text($H18, 300, $TITLE-COLOR);
    font-family: $HATCH-FONT;
    font-style: italic;
    margin-bottom: 10px;
    @include media {
      margin-bottom: 0;
    }
  }
  &__icon {
    margin-right: 10px;
  }
}