.block {
  @include flex(center, center, row, wrap);
  text-align: center;
  @include media {
    @include flex(center, center, row);
    text-align: left;
  }
  position: relative;
  z-index: 20;
  &:not(:last-child) {
    margin-bottom: 40px;
    @include media {
      margin-bottom: 210px;
    }
  }
  &__image {
    width: 250px;
    height: 180px;
    @include media(350px) {
      width: 280px;
      height: 210px;
    }
    @include media(420px) {
      width: 330px;
      height: 240px;
    }
    @include media(500px) {
      width: 430px;
      height: 270px;
    }
    @include media(590px) {
      width: 530px;
      height: 370px;
    }
    @include media(710px) {
      width: 630px;
      height: 470px;
    }
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 50px;
    @include media {
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      background-image: url("../assets/images/whatwedoTradeCentreImage.png");
      margin-right: 0;
      @include media {
        margin-right: 70px;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: -10;
        width: 585px;
        height: 470px;
        background-color: $BLUE;
        top: -15%;
        left: -20%;
        display: none;
        @include media {
          display: block;
        }
      }
    }
    &:nth-child(even) {
      background-image: url("../assets/images/whatwedoComerceCentreImage.png");
      margin-left: 0;
      @include media {
        margin-left: 70px;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: -10;
        width: 585px;
        height: 470px;
        background-color: $PURPLE;
        top: -15%;
        right: -17%;
        display: none;
        @include media {
          display: block;
        }
      }
    }
  }
  &__subtitle {
    @include text($H22, 400, $TITLE-COLOR);
    text-transform: uppercase;
    font-family: $SECONDARY-FONT;
  }
  &__title {
    @include text($H32, 700, $BASE-FONT-COLOR);
    @include media(420px) {
        @include text($H44, 700, $BASE-FONT-COLOR);
    }
    text-transform: uppercase;
    font-family: $BASE-FONT;
    margin-bottom: 40px;
  }
  &__description {
    @include text($H18, 400, $BASE-FONT-COLOR);
    font-family: "Open Sans", sans-serif;
    max-width: 456px;
    margin-bottom: 35px;
    line-height: 1.6;
  }
  &__link {
    @include text($H18, 300, $TITLE-COLOR);
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin-bottom: 40px;
    @include media {
      margin-bottom: 0;
    }
  }
  &__icon {
    margin-right: 10px;
  }
}
