.gallery {
    @include flex(center, center, column, wrap);
    &__container {
        @include flex(center, center, column, wrap);
        padding: 140px 24px;
    }
    &__title {
        margin-bottom: 50px;
        @include media(420px) {
            margin-bottom: 100px;
        }
    }
    &__button {
        margin-bottom: 0;
    }
}