.gallery {
  @include flex(center, center, column, wrap);
  &__container {
    @include flex(center, center, column, wrap);
    @include media {
      padding: 140px 24px;
    }
    padding: 50px 24px;
  }
  &__title {
    margin-bottom: 20px;
    @include media {
      margin-bottom: 100px;
    }
  }
  &__button {
    margin-bottom: 0;
  }
}