.grid {
    display: grid;
    grid-template-areas: "item-1 item-2 item-3"  
                         "item-1 item-4 item-5"; 
    grid-template-rows: repeat(2, 214px);
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    margin-bottom: 60px;
  }
  .item-1 {
    grid-area: item-1;
  }
  .item-2 {           
    grid-area: item-2;
  }
  .item-3 {
    grid-area: item-3;
  }
  .item-4 {           
    grid-area: item-4;
  }
  .item-5 {
    grid-area: item-5;
  }