.grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  @include media {
    margin-bottom: 60px;
  }
  justify-items: stretch;
  align-items: stretch;
  @include media {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "item-1 item-1 item-2 item-3"
      "item-1 item-1 item-4 item-5";
  }
  &__item {
    object-fit: cover;
    width: 100%;
    height: auto;
    @include hover {
      cursor: pointer;
    }
    @include media {
      &:nth-child(1) {
        grid-area: item-1;
      }
      &:nth-child(2) {
        grid-area: item-2;
      }
      &:nth-child(3) {
        grid-area: item-3;
      }
      &:nth-child(4) {
        grid-area: item-4;
      }
      &:nth-child(5) {
        grid-area: item-5;
      }
    }
  }
}