.logo {
    margin-bottom: 30px;
    @include media(576px) {
        margin-right: 110px;
    }
    @include media(525px) {
        margin-bottom: 0;
    }
    &__icon {
        width: 241px;
        height: 54px;
        fill: $WHITE;
        @include hover {
            fill: $BLUE;
        }
        transition: fill 0.4s ease;
    }
}