.what-we-do {
  position: relative;
  z-index: 20;
  @include flex(center, center, column);
  &__container {
    @include media {
      @include flex(center, stretch, column);
      overflow: hidden;
      width: 100%;
      padding: 140px 24px 140px;
    }
    padding: 50px 24px 50px;
    @include flex(center, center, column);
  }
  &__title {
    margin-bottom: 20px;
    @include media {
      margin-bottom: 170px;
    }
  }
}