<a class="anchor" name='contacts'></a>
<section class="map">
    <div class="map__main">
        <div id="mapid"></div>
    </div>
</section>
<footer class="footer">
  <div class="contacts">
    <h2 class="title contacts__title">get in touch</h2>
    <div class="contacts__main">
      <ul class="contacts__list">
        <li class="contacts__item">
          <span><i class="contacts__icon fa fa-map-marker" aria-hidden="true"></i>91 Nolan Extensions Suite 670</span>
        </li>
        <li class="contacts__item">
          <span><i class="contacts__icon fa fa-phone" aria-hidden="true"></i>+001 356-868-2454</span>
        </li>
        <li class="contacts__item">
          <span><i class="contacts__icon fa fa-envelope" aria-hidden="true"></i>gahuy93@gmail.com</span>
        </li>
        <li class="contacts__item">
          <span><i class="contacts__icon fa fa-clock-o" aria-hidden="true"></i>From 07:05AM to 19:30PM</span>
        </li>
      </ul>
      <form class="form" action="">
        <input required placeholder="Name" class="form__input" type="text">
        <input required placeholder="Email" class="form__input" type="email">
        <button class="button form__button" type="submit">SUBMIT</button>
      </form>
    </div>
  </div>
  <div class="container footer__container">
    <div class="footer__inner">
      <a class="logo footer__logo" href="https://amonchik8.github.io/monticello/">
        <svg class="logo__icon">
          <use href="#icon-logo"></use>
        </svg>
      </a>
      <ul class="social">
        <li class="social__item">
          <a class="social__icon" href="https://www.facebook.com/">
            <i class="fa fa-facebook fa-spin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social__item">
          <a class="social__icon" href="https://twitter.com/">
            <i class="fa fa-twitter fa-spin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social__item">
          <a class="social__icon" href="https://instagram.com/">
            <i class="fa fa-instagram fa-spin" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="author">
        <span class="author__product">Copyrights © 2017 Monticello</span>
        <span class="author__name">Made with <i class="author__name-icon fa fa-heart" aria-hidden="true"></i> by Ga Huy</span>
    </div>
  </div>
</footer>
