<section class="gallery">
  <div class="container gallery__container">
    <h2 class="title gallery__title">gallery</h2>
    <div class="grid">
      <img class="grid__item" src="./assets/images/galleryBigImage.png" alt="image">
      <img class="grid__item" src="./assets/images/galleryFirstImage.png" alt="image">
      <img class="grid__item" src="./assets/images/gallerySecondImage.png" alt="image">
      <img class="grid__item" src="./assets/images/galleryThirdImage.png" alt="image">
      <img class="grid__item" src="./assets/images/galleryFourthImage.png" alt="image">
    </div>
    <button class="button gallery__button">see more</button>
  </div>
</section>
