<a class="anchor" name='what-we-do'></a>
<section class="what-we-do">
    <div class="container what-we-do__container">
        <h2 class="title what-we-do__title">what we do</h2>
        <div class="block">
            <div class="block__image"></div>
            <div class="block__content">
                <h3 class="block__subtitle">one world</h3>
                <h2 class="block__title">trade center</h2>
                <p class="block__description">Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.</p>
                <button class="button block__button">more details</button>
                <a class="block__link" href=""><i class="block__icon fa fa-map-marker" aria-hidden="true"></i>New York City, United States - 1776 feet</a>
            </div>
        </div>
        <div class="block">
            <div class="block__content">
                <h3 class="block__subtitle">International</h3>
                <h2 class="block__title">Commerce Centre</h2>
                <p class="block__description">Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.</p>
                <button class="button block__button">more details</button>
                <a class="block__link" href=""><i class="block__icon fa fa-map-marker" aria-hidden="true"></i>Hong Kong - 1588 Feet</a>
            </div>
            <div class="block__image"></div>
        </div>
    </div>
</section>