@import './core/vars';
@import './core/mixins';
@import './core/common';

@keyframes swipe {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vw);
    }
}

.swipe-animation {
    animation-name: swipe;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

@import './components/header';
@import './components/container';
@import './components/navigation';
@import './components/menu';
@import './components/social';
@import './components/logo';
@import './components/scroll';
@import './components/header-glide';
@import './components/anchor';

@import './components/what-we-do';
@import './components/block';
@import './components/button';
@import './components/title';

@import './components/news';
@import './components/card';
@import './components/glide';

@import './components/gallery';
@import './components/grid';

@import './components/map';
@import './components/contacts';
@import './components/form';
@import './components/footer';
@import './components/author';